/* =====================================================
   styles.css — MANGASTORE
   Completa los estilos según la Guia_de_Estilos_MANGASTORE.docx
   ===================================================== */

/* Reset base */
body {
  box-sizing: border-box;
  font-size: 1.6rem; /* 1ren -> 10px */
  background-image: url("../img/background.jpg");
  background-position: center;
  background-attachment: fixed;
}

.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}

.contenedor {
  margin: 0 auto;
  width: 140rem;
}

.texto-principal {
  color: white;
  text-decoration: none;
  font-size: 4.5rem;
  font-weight: bold;
}

.navbar-items {
  list-style: none;
}

.navbar-items {
  color: white;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

/* Tu código va aquí */
